
.displayGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
}

.alignText{
    padding: 70px 0;
    text-align: center;
}

  @media only screen and (max-width:1200px){
    .displayGrid{
        display:grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        grid-gap: 50px;
        
    }
    }
    
@media only screen and (max-width:500px){
.displayGrid{
    display:grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
    
}
}


      
  